* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

/* main container. */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* calculator container with buttons */
.calculator-box {
  width: 400px;
  background-color: gray;
  border-radius: 5%;
  border: 2px solid black;
  padding: 20px;
}

/* screen to display current and results */
.screen {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  text-align: right;
}

/* current operations */
.current-display {
  min-height: 32px;
  font-size: 20px;
}

/* results display */
.results-display {
  min-height: 64px;
  font-size: 40px;
}

/* buttons a grid style with a gap within each */
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* each button, background, padding, border radius and font-size */
.btn {
  padding: 20px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: 20px;
}

/* hover effect on the buttons */
.btn:hover {
  background-color: darkgrey;
}

/* both button clear and delete span 2 grid columns */
.btn.span-2 {
  grid-column: span 2;
}

/* clear color */
.btn.clear {
  background-color: rgb(255, 101, 101)
}

.btn.clear:hover {
  background-color: rgb(178, 91, 82)
}

/* delete color */
.btn.delete {
  background-color: cadetblue;
}

.btn.delete:hover {
  background-color: rgb(52, 97, 98);
}

/* footer to display and need to link github */
.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  width: 100%;
}

/* link to my github */
.footer a {
  text-decoration: none;
  padding-left: 5px;
  color: black;
}